<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>avartS+ Homepage</title>
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://cdn.plot.ly/plotly-2.30.0.min.js" charset="utf-8"></script>
	<script src="/static/plotsScript.js"></script>
</head>

<body>
	<div id="navbar"></div>
	
	<div class="content">
		<div class="about_and_info">
			<h2>Info by activity type</h2>
			<body>Select an activity type below, charts of only that activity type will load below. </body> 
			<br>

			<select id="activityType" onChange="getYearlyData();getYearlyElevation();getYearlyKudos();getYearlyTime();" selected="run">
				<option value="Run">Run</option>
				<option value="Ride">Ride</option>
				<option value="NordicSki">Nordic Ski</option>
				<option value="RollerSki">Roller Ski</option>
				<option value="Rowing">Rowing</option>
				<option value="Swim">Swim</option>
				<option value="Walk">Walk</option>
				<option value="Hike">Hike</option>
				<option value="Kayaking">Kayak</option>
				<option value="Canoeing">Canoe</option>
				<option value="AlpineSki">Alpine Ski</option>
			</select>
		</div>
		<div class="plots">
			<div id="yearlyPlot" class="plot"></div>
			<br><br>
			<div id="yearlyPlotElev" class="plot"></div>
			<br><br>
			<div id="yearlyPlotKudos" class="plot"></div>
			<br><br>
			<div id="yearlyTime" class="plot"></div>
		</div>

		<div class="compatible-strava">
			<img src="https://i.ibb.co/m8qgRMX/compatible.png" alt="Compatible with Strava">
		</div>
	</div>

	<script>
		window.addEventListener('load', (event) => {
			loadNavbar();
			getYearlyData();
			getYearlyElevation();
			getYearlyKudos();
			getYearlyTime();
		});
	</script>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
