<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>avartS+ Yearly Summary</title>
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdn.plot.ly/plotly-2.30.0.min.js"></script>
  <script src="/static/plotsScript.js"></script>
</head>

<body>
  <div id="navbar"></div>
  <div class="content" <div class="about_and_info">
    <h2>Yearly Summary</h2>
    <p>Below are several charts displaying information about specific years.</p>
    <br><br>
  </div>
  </div>
  <div class="plots">
    <div id="yearlyPlot" class="plot"></div>
    <div id="yearlyTime" class="plot"></div>
    <div id="yearlyPlotKudos" class="plot"></div>
    <div id="yearlyPlotElev" class="plot"></div>
    <div id="yearlyPlotAct" class="plot"></div>
  </div>

  <div class="compatible-strava">
    <img src="https://i.ibb.co/m8qgRMX/compatible.png" alt="Compatible with Strava">
  </div>

  <script>

    window.addEventListener('load', (event) => {
      loadNavbar();
      getYearlyData();
      getYearlyKudos();
      getYearlyElevation();
      getYearlyTime();
      getYearlyDataAct();
    });
  </script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>