.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.rectangle{
    height: 50px;
    width: 100%;
    background-color: rgba(252, 76, 2);
    color: White;
    font-family: 'Poppins', sans-serif;
    font-size: 200%;
    padding-left: 2%;
}
.navRectangle{
    position: absolute;
    height: 25px;
    width: 10%;
    margin: 0;
    background-color: rgba(252, 76, 2);
    color: White;
    font-family: 'Poppins', cursive;
    font-size: 30%;
}
.btn{
    position: absolute;
    height: 50px;
    width: 10%;
    margin: 0;
    background-color: rgb(252, 76, 2);
    color: rgb(255, 255, 255);
    font-family: 'Poppins', cursive;
    font-size: 30%;
    border: none;
    display: inline-block;
}
.btn:hover{
    background-color: black;
}
.plots {
    flex: 1;
    padding: 20px;
    flex-direction: column;
	width:100%;
}
.plot {
    height: 100%;
	float: left;
}
.about_and_info {
    font-family: 'Poppins', sans-serif;
}
.compatible-strava {
    max-width: 25%; 
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    position:fixed;
    right:0;
    bottom:0;
    margin:0;
    padding:0;
}
